{% extends 'base.html' %}
	{% block about %}
		
		<p><em>Привет.</em></p>
		<br />
		<p>Меня зовут <a href="kostydenis.me">Костылев Денис</a> и я разработал эту крутую штуку в качестве лабораторной работы по веб-программированию</p>
		<br />
		<p>Вообще, здесь можно хранить всякие лекции и прочие Очень Нужные Документы, но все-таки в большей степени я сделал это for lulz чтобы показать,что я умею.</p>
		<br />
		<p>Давайте я расскажу из чего сделан этот уберсайт</p>
		<p>Верстка, конечно же, HTML5. Тривиально, да. Зато для CSS (который, кстати, версии 3) я использовал препроцессор SASS. Клевая, на самом делештука, делает меньше писать стурктурирует стили и позволяет более наглядно читать код. JavaScript’а немного, но есть. Сами лекции я пишу с использованием языка разметки Markdown. А вот как они попадают сюда - это уже интересно.</p>
		<br />
		<p>Внимательно и не отвлекаясь (это важно, без этого ничего не заработает) пишем лекцию. Заливаем md-файл в специально обученную папочку, туда заходит скрипт, который я написал ...  и генерирует из заранее созданного шаблона статические файлики, которые мы и видим в своем гуглохромчике любом браузере. Почему статические? Почему я не сделал динамическое формирование на PHP? Потому, что PHP для слабаков и я его не знаю статика работает быстрее и вообще не загружает сервер. Всяко. By design. Все это дело крутится на WAMP OpenServer, сам сервер Apache 2.4, ниче, вроде работает.</p>
		<br />
		<p>Вооот. Наверное, стоит еще рассказать про сами лекции. Пишу я их в приложульке Mou. Киллер-фича - автоматическое подключение библиотеки MathJAX, которая позволяет писать формулы прямо как в LaTeX’е. Всякие лайв-превью, автоматическое подключение собственной CSS’ки, ну и просто классно выгляит. И нет, они не заплатили мне за рекламу, к сожалению.</p>
		<br />
		<p>Дизайн. Как вы могли заметить, это гугловский Material Design. Ага, мне тоже нравится. Типографика. Гарнитура для интерфейса, конечно, их же Roboto во всем ее многообразии. Текст лекций Helvetica, также в разных начертаниях.</p>
		<br />
		<p>Ну вот как-то так. Можете мне написать и рассказать, что думаете о проекте, контакты можно найти здесь: <a href="kostydenis.me">kostydenis.me</a>. Но лучше не надо, правда</p>

	{% endblock %}