{% extends 'base.html' %}

    {% block lecture %}
        <div class="lecture">
			<p class="teacher">Гутгарц Римма Давыдовна</p>

			<h1>План занятий</h1>

			<p>2 семестра. 1 – экзамен. 2 – зачет и курсовой проект.</p>

			<p>Лабораторные – ТЗ, тех. проект, рабочее проектирование. Курсовая – предпроектная подготовка и эскизное проектирование.</p>

			<p>Сдать самостоятельные и лабораторные до середины мая (13 мая).</p>

			<h1>Общие сведения</h1>

			<p>Этапы проектирования:</p>

			<ul>
			<li>предпроектная подготовка</li>
			<li>эскизный проект</li>
			<li>техническое задание</li>
			<li>технический проект</li>
			<li>рабочее проектирование</li>
			</ul>


			<p>Конечный результат – программный продукт.</p>

			<h1>Основные понятия проектирования</h1>

			<h2>Внутренние и внешние источники идей</h2>

			<p>Внутренние источники идей:</p>

			<ul>
			<li>совершенствование существующих изделий</li>
			<li>выпуск побочной продукции</li>
			<li>организованное творчество в группе конструкторов и разработчиков</li>
			<li>система поощрения идей и предложение, исходящих от персонала</li>
			</ul>


			<p>Внешние источники идей:</p>

			<ul>
			<li>изучение возможности и последствий конкуренции</li>
			<li>деятельность и новая продукция фирмы, вне сферы действия рынка сбыта</li>
			<li>идеи от существующих и потенциальных клиентов</li>
			<li>перечни изобретений и заявок на патенты</li>
			<li>консультации инженеров и научных работников</li>
			<li>университеты и частные лаборатории</li>
			<li>специализированные книги и журналы, интернет</li>
			<li>собрание профессиональных сообществ</li>
			<li>научные конференции</li>
			</ul>


			<h3>Особенности творческого процесса</h3>

			<p>Причины, по которым не каждый может придумывать идеи:</p>

			<ul>
			<li>боязнь критики</li>
			<li>отсутствие гибкости мышления</li>
			<li>сила привычки</li>
			<li>узко практический подход</li>
			<li>чрезмерная специализация</li>
			<li>влияние авторитетов</li>
			</ul>


			<p>Препятствия к творчеству организационного порядка:</p>

			<ul>
			<li>стремление к немедленному использованию идей</li>
			<li>стремление руководства указывать творческим людям что и как делать</li>
			<li>отсутствие долгосрочных целей</li>
			<li>неудача эксперимента</li>
			<li>частое изменение основных решений</li>
			<li>отсутствие контакта между проектировщиками и руководителями</li>
			<li>отрицательное отношение руководства ко всему новому, как следствие нежелание рисковать</li>
			</ul>


			<h2>Процесс инженерного проектирования</h2>

			<ol>
			<li>Определение потребности (необходимости) качественно новой системы, в которой будут:

			<ul>
			<li>отсутствовать недостатки, присущие настоящей системе</li>
			<li>присутствовать новые характеристики, приобретаемые системой по причине использования новых технологий</li>
			</ul>
			</li>
			<li>Определение целей</li>
			<li>Устранять недостатки можно следующими путями:

			<ul>
			<li>модификация (изменение внешних атрибутов системы)</li>
			<li>принципиальное изменение размеров (увеличение – укрупнение, удлинение, увеличение веса, прочности; уменьшение – компактность, легкость, удаление некоторых элементов)</li>
			<li>изменение внешнего вида (дизайн, эстетические аспекты систем)</li>
			<li>сохранение старого (новые технологии для старых конструкций)</li>
			<li>перестановка (замена одних элементов другими или изменение порядка)</li>
			<li>замена (замена материалов или формы системы)</li>
			<li>сочетание</li>
			<li>удобство обращения (изменение эргономических свойств)</li>
			<li>безопасность</li>
			</ul>
			</li>
			<li><p>Научные исследования</p>

			<p>Связаны с анализом соответствующей информации.</p></li>
			<li><p>Формулировка задания</p>

			<p>Определение исходных данных, которые позволят достичь поставленной цели.</p></li>
			<li><p>Формирование самих идей</p>

			<p>Идеи могут формироваться следующим образом:</p>

			<ul>
			<li>мозговой штурм</li>
			<li>синектика</li>
			<li>морфологический анализ</li>
			<li>деловые игры</li>
			<li>метод сценария</li>
			<li>метод экспертных оценок</li>
			<li>метод делфи (итеративная связь с этапом научного исследования и формулировка задания)</li>
			</ul>
			</li>
			<li><p>Выработка концепции (эскизное проектирование)</p>

			<p>Изображение системы в укрупненном виде, без ее детализации, без выполнения инженерных расчетов.</p></li>
			<li><p>Анализ</p>

			<p>Проверка концепции на возможность ее физической реализации. При обнаружении несоответствия существующих знаний и технологий и теми, которые необходимы для реализации проекта, происходит итеративный переход к предыдущему этапу.</p></li>
			<li><p>Эксперимент</p>

			<p> Создание опытного образца и проверка его работоспособности в лабораторных условиях</p></li>
			<li><p>Решение</p>

			<p>Подготовка всей необходимой технической документации и все экономические расчеты.</p></li>
			<li><p>Производство</p>

			<p>Производство и управление этими процессами</p></li>
			<li><p>Распределение продукции</p>

			<p>Сбытовые процессы, маркетинговая деятельность</p></li>
			<li><p>Потребление</p>

			<p>Гарантийное обслуживание</p></li>
			</ol>


			<h2>Особенности инженерного проектирования АСОИУ</h2>

			<ol>
			<li><p>Определение потребности создания качественно новой системы</p>

			<p> Выявление проблем с точки зрения автоматизации. Для сбора информации могут быть использованы: анкетирование, интервью, наблюдение, анализ документов.</p>

			<p> В результате этого этапа у аналитика должно сформироваться полное представление об информационной деятельности объекта и о проблемах, которые в ней существуют.</p>

			<p> Определение целей:</p>

			<ul>
			<li>Традиционные (уточнение расчетов, сокращение затрат/времени решения, оперативность принятия решений, оптимизация расходов ресурсов)</li>
			<li>модификация; принципиальное изменение размеров – увеличение/уменьшение количества решаемых задач или наращивание функциональности; изменение внешнего вида (интерфейса); сохранение старого (новые технологии для старых алгоритмов); перестановка (перегруппировка задач); замена (появление новых технологий); сочетание; удобство обращения (изменение интерфейса и юзабилити); безопасность.</li>
			</ul>


			<p> На любом предприятии используются самые разные типы систем (АСУТП, САПР, АСУ и др.)</p></li>
			<li><p>Научные исследования</p>

			<p> Создание новых технологий.</p></li>
			<li><p>Формулировка задания</p>

			<p> Включает в себя следующие   работы:</p>

			<ul>
			<li>анализ типовых решений</li>
			<li>анализ аналогичных систем, выявление их достоинств и недостатков</li>
			<li>определение и обоснование целей создания системы</li>
			<li>определение функциональных возможностей</li>
			<li>выбор и обоснование технических и программных средств проектирования</li>
			<li>определение требований к серверной и клиентской частям</li>
			<li>определение выгод для заказчика</li>
			<li>оценка объема работ</li>
			<li>описание бизнес-процессов до автоматизации</li>
			<li>принципиальные решения для БД</li>
			<li>принципиальные решения для интерфейса</li>
			</ul>
			</li>
			<li><p>Формирование идей
			 Принимаются решения о том, какие технологии буду использоваться при проектировании и разработки АСОИУ. При отсутствии технологий, разработать самостоятельно, либо аутсорсинг.</p></li>
			<li><p>Выработка концепции</p>

			<p> Составление технического задания.</p></li>
			<li><p>Решение</p>

			<p> Техническое проектирование. Описание постановок всех задач, которые будут программироваться.
			 При создании сайта, требуются постраничное описание с учетом серверной и клиентской частями.</p></li>
			<li><p>Программирование</p>

			<p> Создании программ на основе технического проектирования.</p></li>
			<li><p>Анализ</p>

			<p> Верификация и валидация созданного программного продукта.
			 Валидация – проверка того, что реализовано то, что должно.
			 При выявлении несоответствий, возможны итеративная связь с предыдущими этапами</p></li>
			<li><p>Эксперимент</p>

			<p> Проверка АСОИУ на реальной базе.</p></li>
			<li><p>Распределение продукции</p>

			<p> Распространение.</p></li>
			<li><p>Потребление</p>

			<p> Эксплуатация и сопровождение.</p></li>
			</ol>


			<h2>Особенности проектов по созданию АСОИУ</h2>

			<ol>
			<li><p>Сложность описания</p>

			<p>Отсутствует какая-либо формализация на этапе обследования.</p></li>
			<li>Любая АСОИУ состоит из многих подсистем, которые взаимодействуют между собой.</li>
			<li>Отсутствие прямых аналогов</li>
			<li>Необходимая интеграция старых и вновь разрабатываемых приложений</li>
			<li>Как правило АСОИУ функционирует в неоднородной среде:

			<ul>
			<li>ПК разных производителей;</li>
			<li>некоторые функции могут быть вынесены в Интернет;
			-использование станков с ЧПУ и системы класса АСУТП.</li>
			</ul>
			</li>
			<li>Разобщенность и разнородность разработчиков</li>
			<li>Существенная временная протяженность проекта</li>
			</ol>


			<h2>Предпроектное обследование</h2>

			<p>Случаи, в которых необходимо предпроектное обследование:</p>

			<ul>
			<li>создание системы по индивидуальному заказу;</li>
			<li>внедрение готовой системы;</li>
			<li>внедрение дополнительных модулей;</li>
			<li>модернизация существующей системы;</li>
			<li>внедрение дополнительных систем в дополнение к уже существующим.</li>
			</ul>


			<p>Результаты предпроектного обследования:</p>

			<ul>
			<li>описание существующих бизнес-процессов заказчика;</li>
			<li>перечень задач, которые необходимо решить с помощью автоматизации;</li>
			<li>оценка бизнес-процессов заказчика и рекомендации по их изменению или оптимизации, с учетом преимуществ, которые предоставляют информационные системы;</li>
			<li>уникальные конкурентные преимущества заказчика, которые обязательно необходимо учесть при внедрении;</li>
			<li>анализ имеющейся IT-среды на соответствие требованиям внедряемой системы;</li>
			<li>оценка работ по интеграции новой системы в уже существующую;</li>
			<li>описание документооборота в автоматизируемых подразделения и требований к аналитике;</li>
			<li>оценка возможных рисков и минимизация их влияния;</li>
			<li>описание пожеланий заказчика, которые не могут быть реализованы в предлагаемой системе и потребуют доработки;</li>
			<li>предложение по реализаци проекта с обоснованием предлагаемого варианта и задание необходимого для заказчика количества автоматизированных рабочих мест;</li>
			</ul>


			<p>Какие вопросы должны быть выявлены в процессе предпроектного обследования:</p>

			<ul>
			<li>функционально-организационая структура;</li>
			<li>функциональные обязаности подразделения, внутренняя структура, кадровый состав;</li>
			<li>информационные и временные характеристики данных, которые используются при решении задач;</li>
			<li>сроки решения задач;</li>
			<li>составить перечень документов и привести их образцы;</li>
			<li>составить схему документооборота, при этом учесть:

			<ul>
			<li>описание периодичности каждого документа;</li>
			<li>источник документа и его назначение;</li>
			<li>маршрут;</li>
			<li>правила внесения изменений;</li>
			<li>правила утверждения и исполнения документа;</li>
			<li>формы хранения и представления.</li>
			</ul>
			</li>
			</ul>


			<div class="date">2015-05-23</div>


			<h1>Функциональная система</h1>

			<p>Любая организация может работать без автоматизации.</p>

			<p>Функции предприятия – функции, не зависящие от специализации предприятия:</p>

			<ol>
			<li>Рабочие</li>
			<li>Материалы</li>
			<li>Помещения</li>
			<li>Оборудование/инструменты</li>
			<li>Технологии</li>
			<li>Деньги</li>
			<li>Рынок сбыта</li>
			</ol>


			<dl>
			    <dt>Управление</dt>
			    <dd>процесс поддержания системы (любого характера) в назначенных параметрах, путем обработки информации о состоянии системы и принятия на этой основе решений о воздействии на систему</dd>
			</dl>


			<p>Процесс управления осуществляется посредством функций управления. К основным из них относятся:</p>

			<ol>
			<li>планирование (прогнозирование и расчет)</li>
			<li>учет (констатация факта)</li>
			<li>контроль</li>
			<li>анализ и принятие решений</li>
			<li>регулирование</li>
			</ol>


			<p>Управление сводится либо к выполнению какой-то одной функции, либо любому их сочетанию.</p>

			<p>Каждой функцией предприятия необходимо управлять. Автоматизация управления отдельными функциями предприятия реализуется отдельными подсистемами (модулями).</p>

			<h1>Методологии создания автоматизированных систем</h1>

			<ol>
			<li>Классическая – все этапы, длительность – 1-1,5 года, проектирование больших систем.</li>
			<li>Экстремальное программирование – небольшие коллективы, маленькие системы.</li>
			</ol>


			<h2>Понятие жизненного цикла информационной системы</h2>

			<dl>
			    <dt>Процесс</dt>
			    <dd>цепочка последовательно выполняемых работ.</dd>
			</dl>


			<dl>
			    <dt>Этапы</dt>
			    <dd>последовательные отрезки времени для выполнения работ, относящиеся к разным процессам.</dd>
			</dl>


			<p>Традиционно выделяются следующие этапы АСОИУ:</p>

			<ol>
			<li>Планирование и анализ требований (системный анализ)</li>
			<li>Проектирование</li>
			<li>Реализация</li>
			<li>Внедрение</li>
			<li>Эксплуатация</li>
			</ol>


			<p>В настоящее время схема проектирования выглядит следующим образом:</p>

			<ol>
			<li>исследование бизнес-процессов заказчика и постановка задач;</li>
			<li>разработка ТЗ;</li>
			<li>создание программного кода и организация тестовой среды отладки;</li>
			<li>тестирование;</li>
			<li>разработка документации и устранение недостатков;</li>
			<li>передача системы в эксплуатацию;</li>
			<li>сопровождение и поддержка.</li>
			</ol>


			<h2>Модели жизненного цикла</h2>

			<ol>
			<li><p>Каскадная модель – каждый следующий этап выполняется после полного завершения предыдущего.</p>

			<p> Особенности:</p>

			<ul>
			<li>На каждом этапе появляется законченный пакет документации;</li>
			<li>Легко планировать время и средства.</li>
			</ul>
			</li>
			<li><p>Итерационная модель.</p>

			<p> Особенности:</p>

			<ul>
			<li>На каждом этапе можно вернуться на любой из предыдущих этапов.</li>
			</ul>
			</li>
			<li><p>Спиральная модель.</p>

			<p> Каждый виток спирали соответствует созданию фрагмента или версии проекта. На нем уточняются цели и характеристики проекта, определяется его качество и планируется следующий виток спирали.</p>

			<p> На каждом витке спирали углубляются и конкретизируются детали проекта.</p>

			<p> Каждый виток учитывает особенности и проблемы предыдущих. Возможно развитие и модификация системы в процессе ее проектирования.</p></li>
			</ol>


			<h1>Экстремальное программирование</h1>

			<p>Экстремальное программирование относится к гибким методологиям разработки программного обеспечения.</p>

			<p>Основные выводы:</p>

			<ul>
			<li>должна быть усовершенствована связь между разработчиками;</li>
			<li>упростить проектные решения;</li>
			<li>усилить обратную связь с заказчиком;</li>
			<li>проявлять больше активности.</li>
			</ul>


			<p>Ключевые моменты этой методологии:</p>

			<ol>
			<li>Создавать простую и понятную программу легче, чем сложную и запутанную. В типовом проекте труд программиста дороже в двадцать раз аппаратной части.</li>
			<li>Важный момент – ошибки программы. Тесты пишутся до разработки программы или во время разработки.</li>
			<li>Готовность программистов к постоянным изменениям в проекте.</li>
			<li>Наиболее эффективно для проектов с постоянно изменяющимися требованиями.</li>
			<li>Ориентация на проекты с высокой степенью риска.</li>
			<li>Невозможность использования этот подход на больших проектах.</li>
			<li>Для предметной области должна существовать возможность создания автоматизированного теста.</li>
			<li>Вместо термина техническое задание используется формулировка пользователя. Каждая формулировка занимает три-четыре предложения в терминах заказчика. Главное отличие ТЗ от формулировок пользователя – уровень детализации.</li>
			<li>Планирование устанавливает правила того, каким образом вовлеченные в проект стороны принимают решения, поэтому существует план релизов, в котором определяются сроки, в которые будут предоставлены формулировки пользователя. Исходя из этого, формулируется требования для очередной итерации. Каждая итерация может длиться от одной до трех недель.</li>
			<li>Наличие ежедневных совещаний.</li>
			<li>Наличие системы метафор. Следует использовать такую систему имен для объектов, которую сможет понять каждый участник без специфических знаний о системе.</li>
			<li>Парное программирование.</li>
			<li>Смена поручений – во время очередной итерации следует помещать сотрудников на новые участки работы.</li>
			<li>Не добавлять функциональность слишком рано – если пользователь не попросил, не добавлять функциональность.</li>
			</ol>


			<h1>Проектирование пользовательского интерфейса</h1>

			<h2>Понятие и основные особенности пользовательского интерфейса</h2>

			<dl>
			    <dt>Пользовательский интерфейс</dt>
			    <dd>интерфейс, в котором одна сторона представлена человеком, а вторая машиной или устройством. Представляет собой совокупность средств и методов, при помощи которых пользователь взаимодействует с различными сложными машинами, устройствами, аппаратурой</dd>
			</dl>


			<p>К средствам относятся:</p>

			<ul>
			<li>Средства вывода информации из устройства пользователю (монитор, принтер, лампочки, динамики)</li>
			<li>Средства ввода информации в устройство (кнопки, переключатели, датчики)</li>
			</ul>


			<dl>
			    <dt>Методы</dt>
			    <dd>набор правил, которые закладываются разработчиком устройства и согласно этим правилам действия пользователя должны привести к решению задачи</dd>
			</dl>


			<dl>
			    <dt>Юзабилити</dt>
			    <dd>понятие в микроэргономике, которое обозначает уровень удобства предметов, в заявленных целях</dd>
			</dl>


			<dl>
			    <dt>Юзабилити</dt>
			    <dd>определение, закрепленное в ИСО 9241-11 – степень, с которой продукт может быть использован определенными пользователями, при определенном контексте использования, для достижения определенных целей, с должной эффективностью, продуктивностью и удовлетворенностью</dd>
			</dl>


			<h2>Концептуальные модели пользовательского интерфейса</h2>

			<ol>
			<li>Пользовательская модель</li>
			<li>Модель программиста</li>
			<li>Модель проектировщика</li>
			</ol>


			<p>Каждая модель отражает ожидания человека, который работает с компьютером и тот опыт, который он получает в результате работы.</p>

			<p>В зависимости от модели, должны учитываться три принципа пользовательского интерфейса:</p>

			<ol>
			<li>Контроль интерфейса пользователем</li>
			<li>Уменьшение нагрузки на память пользователя</li>
			<li>Последовательность пользовательского интерфейса</li>
			</ol>


			<p>Принципы пользовательского интерфейса:</p>

			<ol>
			<li>Обеспечить пользователю полный контроль над интерфейсом:

			<ol>
			<li>Дать возможность пользователю использовать альтернативные способы взаимодействия.</li>
			<li>Обеспечить возможность прерывания работы без потери данных.</li>
			<li>Обязательно показывать поясняющие сообщения (подсказки, комментарии) с обязательным соблюдением понятных пользователю терминов.</li>
			<li>Создать условия для обратимых действий.</li>
			<li>Обеспечить понятные пути и выходы, т.е. свободную ориентацию пользователя, для этого могут быть использованы контекстные подсказки.</li>
			<li>Предусматривать настройку интерфейса под пользователя с различным уровнем подготовки.</li>
			<li>Сделать пользовательский интерфейс прозрачным – не заметным для пользователя.</li>
			<li>Возможность настройки интерфейса под индивидуальные особенности пользователя.</li>
			<li>Разрешить пользователю напрямую манипулировать объектами интерфейса (?)</li>
			</ol>
			</li>
			<li>Уменьшить нагрузку на память пользователя:

			<ol>
			<li>Не загружать кратковременную память пользователя.</li>
			<li>Предоставлять возможность выбора из списка</li>
			<li>Визуальные подсказки интерфейса, которые информируют пользователя, где он находится, что делает.</li>
			<li>Наличие горячих клавиш, для ускорения работы.</li>
			<li>Отображать на экране только те действия, которые пользователь может производить над объектами.</li>
			<li>Использовать приемы как мастер или советчик.</li>
			<li>Увеличить визуальную ясность, т.е. группировать объекты в меню или списке, нумеровать объекты, использовать заголовки или другие объекты для привлечения внимания. При этом избегать случайной группировки и ненужных выделений.</li>
			</ol>
			</li>
			<li>Сделать интерфейс совместимым

			<ol>
			<li>Пользователи должны иметь опорные точки при перемещении</li>
			<li>При проектировании одним разработчиком разных систем, ориентированных на разных пользователей, разработчик должен использовать одни и те же элементы интерфейса.</li>
			<li>При выполнении одних и тех же действий в разных местах программы, пользователь должен получать один результат.</li>
			<li>В рамках одной системы, необходимо разработать общую структуру интерфейса, определить используемые шрифты, цветовые схемы, и придерживаться их в течении всего процесса разработки.</li>
			<li>Одним из элементов дружественного интерфейса, является возможность исследовать возможности интерфейса, без страха сделать что-то неправильно.</li>
			<li>Наличие в системе развитой навигации.</li>
			</ol>
			</li>
			</ol>


			<p>Почти любая навигация представляет собой меню. Недостатки:</p>

			<ul>
			<li>Ограничивает выбор</li>
			<li>Любое многоуровневое страдает от каскадных ошибок</li>
			<li>Почти не одно меню не способно показать пользователю, куда ему целесообразно пойти.</li>
			</ul>


			<div class="date">2015-04-06</div>


			<p>Перед проектированием интерфейса необходимо выяснить следующие вопросы:</p>

			<ul>
			<li>Какая информация необходима пользователю для решения каждой задачи.</li>
			<li>Какую информацию пользователь может игнорировать.</li>
			<li>Совместно с пользователем разделить всю информацию на:

			<ul>
			<li>Сигнальную</li>
			<li>Отображаемую</li>
			<li>Редактируемую</li>
			<li>Поисковую</li>
			<li>Результирующую.</li>
			</ul>
			</li>
			<li>Какие решения пользователю необходимо принимать в процессе работы с программой (или при решении задачи) – просмотр промежуточных результатов.</li>
			<li>Может ли пользователь совершать несколько действий одновременно.</li>
			<li>Какие типовые операции использует пользователь при решении задач (использование справочников).</li>
			<li>Что произойдет, если пользователь нарушит предписанный алгоритм.</li>
			</ul>


			<p>При разработке прототипа пользовательского интерфейса необходимо учитывать следующее:</p>

			<ul>
			<li>Особенности устройства ввода-вывода информации.</li>
			<li>Выбор технологий и методов ведения диалога программы с пользователем:

			<ul>
			<li>степень активности пользователя при взаимодействии с системой;</li>
			<li>степень учета ситуации;</li>
			<li>соответствие ожиданиям пользователя;</li>
			<li>устойчивость и терпимость к ошибкам пользователя, путем исправления типовых ошибок;</li>
			<li>настройка пользовательского интерфейса на различный уровень подготовки пользователя;</li>
			<li>степень адаптивности пользовательского интерфейса под предпочтения пользователя (цветовая палитра);</li>
			</ul>
			</li>
			<li>При композиции экрана необходимо учитывать ограниченные пространства экрана, в связи с чем возникает задача оптимального расположения максимально возможного объема информации.</li>
			<li>Формирование обратной связи между пользователем и приложением:

			<ul>
			<li>Показ актуального состояния системы</li>
			<li>Вывод отдельных важных для работы данных и показателей</li>
			<li>Отражение действий пользователя</li>
			<li>Ясность и информативность сообщений системы</li>
			</ul>
			</li>
			<li>При проектировании панели меню и инструментов, а также выбора пунктов в них следует учитывать:

			<ul>
			<li>Логическую и смысловую группировку пунктов</li>
			<li>Фиксированная позиция панелей на экране</li>
			<li>Ограничение на ширину списка выбора и глубины меню</li>
			<li>Использование привычных названий, распространенных иконок</li>
			<li>Аккуратное использование сокращений</li>
			</ul>
			</li>
			<li>Разработка средств ориентации и навигации - удобный переход между режимами работы, быстрый поиск в списке</li>
			<li>Создавать формы для ввода данных</li>
			</ul>


			<p>Дополнительные требования к интерфейсу:</p>

			<ul>
			<li>Не следует помещать в главном меню пункты, которые срабатывают сразу после нажатия</li>
			<li>Делать действия пользователя обратимыми</li>
			<li>Всегда предоставлять отмену</li>
			<li>Предоставлять запасной выход</li>
			<li>Предлагать пользователю постоянные наглядные подсказки</li>
			<li>Стремиться к единообразию интерфейса в различных подсистемах или частях программы</li>
			<li>Обеспечить защиту работы пользователя</li>
			</ul>


			<h2>Стили взаимодействия пользователя с системой</h2>

			<table>
			<thead>
			<tr>
			<th> Стили взаимодействия </th>
			<th> Плюсы </th>
			<th> Минусы </th>
			<th> Примеры </th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>Прямое манипулирование</td>
			<td>- быстрое и интуитивно понятное взаимодействие<br>- легкость в изучении</td>
			<td>- сложная реализация<br>- подходит только для систем, где есть зрительные образ объекта</td>
			<td>компьютерные игры</td>
			</tr>
			<tr>
			<td>Выбор из меню</td>
			<td>- сокращение ошибок пользователя<br>- минимальный ввод с клавиатуры</td>
			<td>- медленно для опытных пользователей<br>- может быть сложным, если меню состоит из большого количества вложенных пунктов</td>
			<td>программы общего назначения</td>
			</tr>
			<tr>
			<td>Заполнение форм</td>
			<td>- легкость изучения</td>
			<td>- занимает пространство на экране</td>
			<td>формализованные документы</td>
			</tr>
			<tr>
			<td>Командный язык</td>
			<td>- мощный и гибкий</td>
			<td>- сложность изучения<br>- возможны ошибки</td>
			<td>cmd</td>
			</tr>
			<tr>
			<td>Естественный язык</td>
			<td>- подходит неопытным пользователям</td>
			<td>- требует большого ручного набора</td>
			<td>www</td>
			</tr>
			</tbody>
			</table>


			<div class="date">2015-04-07</div>


			<h2>Представление информации</h2>

			<h3>Представление отчетов</h3>

			<p>Получение регламентированных отчетов.</p>

			<p><strong>Преимущество:</strong> пользователю не нужно ничего знать, кроме того, какой отчет ему нужен.</p>

			<p><strong>Недостаток:</strong> количество отчетов ограничено.<br><br></p>

			<p>Отчетность нерегламентированного характера. Запросная система.</p>

			<p><strong>Преимущество:</strong> количество отчетов неограниченно.</p>

			<p><strong>Недостаток:</strong> сложность освоения.</p>

			<h3>Представление графической информации.</h3>

			<p>Представляемые данные $$$ \Rightarrow $$$ ПО для представления данных $$$ \Rightarrow $$$ Отображение</p>

			<p>В качестве представляемых данных могут отображаться ход решения задачи, промежуточные результаты или конечная отчетность.</p>

			<p>Принимая решение по представлению данных, разработчик должен учитывать следующие факторы:</p>

			<ol>
			<li>Что нужно пользователю – точное значение данных или соотношение между ними.</li>
			<li>Насколько быстро будут происходить изменения значений данных. Нужно ли пользователю немедленно показывать изменения значений.</li>
			<li>Должен ли пользователь предпринимать какие-либо действия в ответ на изменение данных.</li>
			<li>Нужно ли пользователю взаимодействовать с отображаемой информацией путем прямого манипулирования.</li>
			<li>В каком виде должна отображаться информация: в текстовом, графическом, табличном.</li>
			<li>Необходимо ли показывать значения элементов отображаемых данных.</li>
			</ol>


			<p>Рекомендации по формированию аналитической информации:</p>

			<ol>
			<li>Если аналитической информации много, то не стремиться ее всю включить в один документ.</li>
			<li>Проектировать новые формы взамен существующих.</li>
			<li>Шапки документов должны соответствовать содержанию.</li>
			<li>Желательно называть графы в именительном падеже.</li>
			<li>Документы в табличной форме целесообразно упорядочивать и сортировать по соответствующему полю.</li>
			<li>Использовать в таблицах выделение – шрифт, масштаб, заливку.</li>
			<li>Не включать в таблицы значения, которые являются одинаковыми во всех строках.</li>
			<li>Не добавлять единицы измерения к числам.</li>
			<li>Логически связанные поля размещать рядом.</li>
			</ol>


			<h3>Средства поддержки пользователя</h3>

			<p>К средствам поддержки пользователя относятся все сообщения, которые генерируются системой, и система справок. Справочную систему составляют:</p>

			<ol>
			<li>Сообщения, генерируемые в ответ на действия пользователей (сообщение об ошибке, проверочные действия, контролирующие действия)</li>
			<li>Диалоговая система</li>
			<li>Документация</li>
			</ol>


			<p>При проектировании необходимо учитывать:</p>

			<ol>
			<li>Содержание справочной системы</li>
			<li>Опыт пользователя</li>
			<li>Профессиональный уровень пользователя</li>
			<li>Стиль сообщений (положительный оттенок)</li>
			</ol>


			<p>Особенности сообщений об ошибках:</p>

			<ol>
			<li>Не должны быть агрессивными и грубыми</li>
			<li>Должны быть верными</li>
			</ol>


			<h3>Типы пользовательской документации</h3>

			<ol>
			<li>Функциональное описание – представляет функциональные возможности и их взаимосвязь.</li>
			<li>Инсталляционное описание.</li>
			<li>Руководство пользователя – повседневное использование системы.</li>
			<li>Справочное руководство – возможности системы и их использование, представлен список сообщений об ошибках и возможные причины этих ошибок.</li>
			<li>Руководство для администратора.</li>
			</ol>


			<div class="date">2015-04-21</div>


			<h3>Компоновка интерфейсов</h3>

			<p class="irony">Располагать информацию нужно по горизонтали по центу потому, что в противном случае нет связи с прошлым или будущим </p>


			<p class="irony">Располагать информацию по вертикали нужно по центру потому, что сверху информация давит, а в случае если информация снизу, то ощущается пустота</p>


			<p><br>
			Особенности компоновки:</p>

			<ul>
			<li>оставлять примерно половину экрана пустым</li>
			<li>при выдаче табличной информации, выделять строки; примерно четыре-пять пробелом между столбцами</li>
			<li>на экране должна находиться только та информация, которая действительно необходима пользователю на данном этапе работы</li>
			<li>в меню следует помещать список только тех пунктов, из которых пользователь может сделать выбор</li>
			<li>важно, чтобы на экране отображалась <strong>вся</strong> информация, которая относится к решаемой задаче</li>
			<li>один и тот же тип информации должен появляться на экране в одном и том же месте</li>
			<li>на одном экране необходимо размещать все данные, которые необходимы для принятия конкретного решения</li>
			<li>можно изменять структуру любых внутренних документов; нельзя изменять только те, которые имеют статус государственных (в ОКУД)</li>
			<li>вспомогательные сообщения требуют особенно тщательной подготовке, т.к они должны полностью соответствовать возникшей проблемы.</li>
			</ul>


			<h3>Психологические аспекты интерфейса</h3>

			<p>Существуют следующие способы уменьшения видимости задержки в работе системы (время отклика должно быть сопоставимо со скоростью реакции человека):</p>

			<ul>
			<li>Обеспечение сопровождения щелчков на всех кнопках визуальной или звуковой обратной связью в пределах 50 мс.</li>
			<li>Вывод сообщений, которые показывают потенциальную длительность ожидания результата для любого действия более двух секунд.</li>
			<li>Демонстрация действительной длительности с помощью анимированного индикатора.</li>
			<li>Показ пользователю сообщений, отражающих информацию о процессе.</li>
			<li>Привлечение внимания пользователя звуковым сигналом или заметной визуальной индикации для процессов дольше 10 секунд.</li>
			</ul>


			<p>Другие особенности:</p>

			<ul>
			<li>текст для чтения должен иметь высокий контраст, текст должен быть удобочитаемым. Основное требования к сочетанию цветов текста и фона - достаточный контраст между ними.</li>
			<li>Не рекомендуется размещать текст на сером фоне.</li>
			<li>Любой шрифт имеет свое определенное назначений</li>
			</ul>


			<h3>Оценка и улучшение пользовательского интерфейса</h3>

			<p>Существуют четыре основных критерия качества любого интерфейса.</p>

			<ol>
			<li>Скорость работы пользователя.</li>
			<li>Количество человеческих ошибок.</li>
			<li>Скорость обучения.</li>
			<li>Субъективное удовлетворение.</li>
			</ol>


			<p>При борьбе с ошибками необходимо направлять усилия на следующее:</p>

			<ul>
			<li>плавное обучение пользователя в процессе работы;</li>
			<li>снижение требований к бдительности;</li>
			<li>повышение разборчивости и заметности индикаторов;</li>
			<li>блокировка потенциально опасных действий пользователя, до получения подтверждения;</li>
			<li>проверка всех критических важных параметров перед их применением;</li>
			<li>максимальное использование системой необходимых команд и параметров, при котором от пользователя требуется только проверка.</li>
			</ul>


			<h3>Причины человеческих ошибок</h3>

			<ul>
			<li>Недостаточное знание предметной области;</li>
			<li>опечатки;</li>
			<li>неправильный ввод информации.</li>
			</ul>


			<div class="date">2015-04-28</div>


			<h3>Естественные цвета и дизайн интерфейсов</h3>

			<p class="irony">Необходимо использовать естественные цвета, которые мы постоянно видим</p>


			<ul>
			<li>способность выделяться</li>
			<li>способность направлять</li>
			<li>способность увлекать</li>
			<li>способность вдохновлять</li>
			</ul>


			<h3>Особенности проектирования сайтов</h3>

			<p>Существует три типа факторов:</p>

			<ol>
			<li>Расположение информации</li>
			<li>Навигация по сайту</li>
			<li>Цветовое решение</li>
			</ol>


			<p>Существуют три аспекта, которые влияют на восприятие сайта:</p>

			<ol>
			<li>Страницы сайта, которые выполняют одни и те же функции, должны иметь единый дизайн.</li>
			<li>Сайт, выдержанный в едином стиле, работает на узнаваемость (например, продвижение торговой марки).</li>
			<li>Дизайн, структура и содержание сайта должны связываться только концептуально. Технически они должны быть независимы друг от друга.</li>
			</ol>


			<p>Особенности навигации:</p>

			<ol>
			<li>Все функции элементов интерфейса должны быть интуитивно понятны.</li>
			<li>В рамках одного проекта, должен использоваться только один вариант дизайна интерфейса.</li>
			<li>Интерфейс - это не реклама, он должен быть четко выражен в рамках общей концепции дизайна сайта и не должен отвлекать от содержания страницы.</li>
			<li>В проектах с большим объемом информации и сложной структурой, кроме элементов навигации, необходимо использовать элементы индикации, которая показывает местоположение страницы в структуре сайта.</li>
			</ol>


			<p>Кроме того, необходимо учитывать требования к дизайну, которые накладываются физиологией человека. К ним относятся:</p>

			<ul>
			<li>видимость (важная информация или элементы управления должны находиться на переднем плане);</li>
			<li>понимание (меню должно отражать структуру сайта);</li>
			<li>память (Кратковременная память ограничена 7 $$$\pm$$$ 2 элементами информации. Из этого следует, что в простом меню количество пунктов не должно превышать семи. Если пунктов больше, то необходимо разбить на группы, при этом количество подпунктов не должно превышать семи);</li>
			<li>"не множить сущности без надобности" (любая задача должна решаться за минимальное количество действий);</li>
			<li>текст не должен сливаться с фоном, а заголовки теряться. Использование контрастных цветов недопустимо.</li>
			</ul>


			<p class="framed">
			<strong>На экзамене будут вопросы из самостоятельного изучения</strong>
			<br>
			Методичка - подготовка к экзамену в общей папке</p>




			<div class="date">2015-05-05</div>


			<p class="framed">
			<strong>Технический проект</strong>
			<br>
			1. Описание базы данных.<br>
			2. Часть значений должна выбираться из классификатора<br>
			3. Сообщения об ошибках<br>
			4. Отчеты из программы<br>
			5. Интерфейс
			</p>


			<h3>Основные принципы разработки пользовательских интерфейсов</h3>

			<p class="irony">У пользователя должно складываться впечатление, что он управляет интерфейсом, а не интерфейс пользователем.</p>


			<ol>
			<li>Естественность. Естественный интерфейс - интерфейс, который не вынуждает пользователя существенной изменять привычные для него способы решения задачи. Обязательное использование понятных пользователю понятий и образов. Именно это делает интерфейс интуитивно понятным.</li>
			<li><p>Согласованность. Единообразие логики и стиля. Согласованность позволяет пользователям переносить имеющиеся знания на новые знания. Согласованность важна для всех аспектов интерфейса, а именно:</p>

			<ul>
			<li>имена команд;</li>
			<li>визуальное представление информации</li>
			<li>поведение интерактивных элементов.</li>
			</ul>


			<p> Бывает согласованность следующего вида:</p>

			<ol>
			<li>согласованность в пределах одного программного продукта - одна и та же команда должна выполнять одни и те же функции, где бы она не находилась;</li>
			<li>согласованность в пределах одной рабочей среды;</li>
			<li>согласованность в использовании метафор;</li>
			</ol>
			</li>
			<li><p>Дружественность. Пользователь обычно изучает особенность работы с новой программой методом проб и ошибок. Интерфейс должен это учитывать. Поэтому на каждом этапе работы он должен разрешать только соответствующий набор действий и предупреждать пользователя о тех ситуациях, где они могут навредить системе или данным. Всегда предусматривать возможность отмены действий. Эффективный интерфейс должен предотвращать ситуации, которые могут закончиться ошибками.</p></li>
			<li>Принцип обратной связи. Каждое действие пользователя должно получать визуальное и/или звуковое, подтверждающие, что программа получила введению команду. При обработке задания, полезно предоставлять пользователю информацию о состоянии процесса, чтобы была возможность прервать этот процесс при необходимости (информация о промежуточных результатах).</li>
			<li><p>Простота. Простота предполагает легкость изучения и использования. Реализация доступа к широким функциональным возможностям и обеспечение простоты работы противоречат друг другу. Эффективный интерфейс призван сбалансировать эти цели. Например, достичь этого можно следующим путями:</p>

			<ul>
			<li>показывать на экране только ту информацию, которая минимальна необходима для решения задачи;</li>
			<li>избегать многословных командных имен или сообщения;</li>
			<li>размещение и представление элементов на экране с учетом их смыслового значения;</li>
			<li>последовательное раскрытие диалоговых окон, разделов меню и т.д.</li>
			</ul>
			</li>
			<li>Гибкость. Способность системы учитывать уровень подготовки и производительность пользователя. Свойство гибкости предполагает изменение структуры диалога и/или входных данных. Основная проблема при этом заключается в том, какие признаки нужно использовать, а не как организовать изменения в диалоге.</li>
			<li>Эстетическая привлекательность. Качество интерфейса сложно оценить количественными характеристиками. Тем не менее некоторое объективную оценку можно дать следующих частных показателей:

			<ul>
			<li>время, необходимое пользователю для достижения заданного уровня знаний и навыков для работы с приложением (например, непрофессиональный пользователь должен освоить команды работы с файлами за 4 часа);</li>
			<li>сохранение полученных навыков по истечению некоторого времени;</li>
			<li>скорость решения задачи с помощью приложения (например, пользователь должен обработать не менее 20 документов за 1 час с ошибкой не более 1%)</li>
			<li>некая субъективная удовлетворенность пользователя после работы с приложением.</li>
			</ul>
			</li>
			</ol>


			<div class="date">2015-05-12</div>


			<h2>Обобщение правил интерфейса</h2>

			<ul>
			<li>Интерфейс необходимо проектировать и разрабатывать как отдельный компонент программного продукта;</li>
			<li>необходимо учитывать возможности и особенности аппаратно-программных средств, на базе которых реализуется интерфейс;</li>
			<li>необходимо учитывать особенности и традиции той предметной области, к кёоторой относится создаваемое приложение;</li>
			<li>процесс разработки интерфейса должен носить итерационный характер и его обязательным элементом должно быть согласование с потенциальным пользователем;</li>
			<li>средства и методы реализации интерфейса должны обеспечивать возможность его адаптации к потребностям пользователя.</li>
			</ul>


			<h3>Стандартизация пользовательского интерфейса</h3>

			<p>К середине 70-х годов осознали необходимость формирования единых подходов к реализации пользовательского интерфейса, но такие возможности были ограничены. В настоящее время все серьезные публикации, посвященные интерфейсу, опираются на знания в таких областях как психология, эргономика, и т.п. В Америке существует национальный институт стандартов (ANSI), в нем есть специальная консультационная комитет стандартов по интерфейсу "человек-компьютер". Существует международный консультативный комитет по телеграфии и телефонии, который изучает особенности интерактивных элементов интерфейса.</p>

			<p>В 1986 г. было опубликовано руководство по разработке программного пользовательского интерфейса, содержащее 944 принципа, которые касались:</p>

			<ul>
			<li>ввода и отображения данных;</li>
			<li>поддержки пользователя;</li>
			<li>защиты данных.</li>
			</ul>


			<p>Но этот проект не получил статус официального документа, поскольку имел серьезный недостаток, а именно: не учитывались технологические возможности инструментальных средств.</p>

			<p>Коренным образом ситуация изменилась в 1987 г., корпорация IBM объявила о намерении создать единую среду разработки приложений. Цели проекта:</p>

			<ul>
			<li>повышение производительности труда программистов и конечных пользователей;</li>
			<li>облегчение эксплуатации и сопровождения ПО;</li>
			<li>повышение эффективности распределенной обработки информации;</li>
			<li>увеличение отдачи от инвестиций в разработку информационных систем.</li>
			</ul>


			<p>Исследованиями и практической реализацией графических интерфейсов занимались и другие фирмы: Xerox, Apple, Digital Research, Microsoft. В результате их деятельности были определены основные концепции построения графических пользовательских интерфейсов:</p>

			<ul>
			<li>использование единой рабочей среды пользователя в виде рабочего стола;</li>
			<li>объектно-ориентированный подход к описанию заданий пользователя;</li>
			<li>использование графических окон, в качестве основной формы отображения данных;</li>
			<li>применение средств неклавиатурного ввода, основанного на выборе и указании чего-либо с помощью мыши.</li>
			</ul>


			<h3>Этапы проектирования пользовательского интерфейса</h3>

			<ol>
			<li>Определить структуру диалога (вопрос-ответ, выбор из меню, экранные формы, командный язык).</li>
			<li>Определить возможный сценарий развития диалога.</li>
			<li>Содержание управляющих сообщений и данных, которыми могут обмениваться человек и приложение (то есть определить семантику приложения).</li>
			<li>Определить визуальные атрибуты отображаемой информации (синтаксис сообщений).</li>
			</ol>


			<h3>Экспертная оценка пользовательского интерфейса</h3>

			<p>Для проведения экспертной оценки нужно знать:</p>

			<ul>
			<li>разные люди обнаруживают разные ошибки, т.е. этот метод работает, когда количество экспертов больше одного;</li>
			<li>лучше привлекать несколько экспертов не одновременно, но последовательно;</li>
			<li>чем больше информации будет предоставлено эксперту, тем более сложные проблемы он сможет выявить;</li>
			<li>нельзя требовать от эксперта работы "по весу" - описание одной проблемы должно составлять два-три предложения.</li>
			</ul>


			<p>В качестве экспертов могут выступать сами пользователи, для этого используются следующие методы:</p>

			<ul>
			<li>анкетирование;</li>
			<li>наблюдение за работой пользователя с последующим обсуждением;</li>
			<li>видеонаблюдение типичного использования системы;</li>
			<li>добавление в программу кода, который отслеживает информацию о наиболее часто используемых системных сервисов и распространенных ошибках.</li>
			</ul>
		</div>
	{% endblock %}