<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<title>Общие сведения</title>
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax:{inlineMath:[['$$$','$$$']]}});</script><script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
<p><link rel="stylesheet" type="text/css" href="style.css"></p>

<div class="discipline">Веб-программирование</div>


<p><br /></p>

<div class="teacher">Аршинский Вадим Леонидович</div>


<h1>Общие сведения</h1>

<dl>
    <dt>World Wide Web</dt>
    <dd>распределенная система доступа к связанным между собой документам на различных компьютерах. Сетевая технология прикладного уровня стека TCP/IP, построенная на клиент-серверной архитектуре и использующая инфраструктуру Интернет для взаимодействия между сервером и клиентом.</dd>
</dl>


<p>Интернет является средой для WWW, а не синонимом.</p>

<dl>
    <dt>World Wide Web Consortium</dt>
    <dd>организация, занимающаяся стандартизацией в сфере WWW.</dd>
</dl>




<dl>
    <dt>Веб-сервер</dt>
    <dd>сервер, принимающий HTTP-запросы от клиентов (веб-браузеров), и выдает им HTTP-ответы, как правило, вместе HTML-страницей, изображением, файлом, медиа-потоком или другими данными.</dd>
</dl>




<dl>
    <dt>HTTP</dt>
    <dd>протокол передачи гипертекста.</dd>
</dl>


<dl>
    <dt>Клиент-серверный способ взаимодействия</dt>
    <dd>обмен сообщениями идет по схеме «запрос-ответ».</dd>
</dl>




<dl>
    <dt>Веб-программирование</dt>
    <dd>раздел программирования, ориентированный на разработку веб-приложений.</dd>
</dl>


<h1>HTML</h1>

<dl>
    <dt>HTML</dt>
    <dd>представляет простые правила оформления и компактный набор структурных и семантических элементов разметки (тегов).</dd>
</dl>


<p>Позволяет:</p>

<ul>
<li>Выделять в документе логические части (заголовки, абзацы, списки и т.д.)</li>
<li>Описывать способ представления этих частей
Не является языком программирования, но может содержать встроенные и загружаемые на скриптовых языках.
Структура HTML:
DOCTYPE - указание типа документа и версии HTML.</li>
</ul>


<p>HEAD - метаинформация о странице: язык, кодировка, ассоциированные таблицы стилей, скрипты, ключевые слова.</p>

<p>BODY - контент страницы.</p>

<p>HTML5:
- продвинутая семантическая структура
- новые формы ввода, проверка ввода
- канва с поддержкой JScript
- поддержка Drag&amp;Drop, механизмы загрузку файлов
- воспроизведение аудио и видео
- локальное хранилище данных
- формализация объектов JScript
- поддержка мультипоточности и сетевых сокетов</p>

<h1>CSS</h1>

<dl>
    <dt>CSS</dt>
    <dd>каскадные таблицы стилей – язык описания внешнего вида документа, оформленного языком разметки XML, HTML.</dd>
</dl>


<p>Позволяет:
- задавать размеры, цвета, шрифт, расположение и другие аспекты представления элементов веб-документа
- представлять один и тот же документ в различных стилях</p>

<dl>
    <dt>Стиль</dt>
    <dd>совокупность правил, применяемых к элементу HTML и определяющих способ его отображения.</dd>
</dl>


<dl>
    <dt>Таблицы стилей</dt>
    <dd>совокупность стилей, применяемых к веб-документу.</dd>
</dl>


<h1>DHTML</h1>

<dl>
    <dt>Dynamic HTML</dt>
    <dd>обобщающий термин для набора технологий, используемых совместно для создания интерактивных и анимированных веб-страниц средствами клиента.</dd>
</dl>


<p>DHTML:
- представляет клиентским скриптам доступ к элементам документа, изменение которых влияет на внешний вид и поведение изначально статической веб-страницы;
- программное управление элементами веб-страницы становится возможным лишь после того, как веб-страница была полностью загружена в клиентское приложение.</p>

<p>Динамическими HTML-страницами называют
- страницы, созданные сценариями на стороне клиента
- созданные серверными приложениями (PHP, Perl, JSP, Ruby, пр.)
В случае DHTML динамичность проявляется при просмотре страницы клиентом, а не на этапе генерации уникального контента страницы.</p>

<dl>
    <dt>Document Object Model</dt>
    <dd>объектная модель документа – не зависящий от платформы и языка программный интерфейс, позволяющий программам и скриптам получить доступ к контенту HTML, а также изменять содержимое, структуру и оформление таких документов.</dd>
</dl>


<p>С помощью DOM любой структурированный документ может быть представлен в виде дерева объектов, каждый узел которого представляет собой элемент, атрибут, текстовый или графический объект.</p>

<dl>
    <dt>Browser Object Model</dt>
    <dd>объектная модель браузера – браузероспецифичная концепция, являющаяся прослойкой между скриптом и объектной моделью документа.</dd>
</dl>




<dl>
    <dt>Скриптовый язык</dt>
    <dd>язык программирования, который используется для управления, настройки и автоматизации средств существующей системы.</dd>
</dl>


<p>В таких системах полезная функциональность уже доступна посредством пользовательского интерфейса, и скриптовый язык является механизмом предоставления доступа к этой функциональности для программного кода.
- Существующая система предоставляет среду объектов и средств, которая дополняет возможности скриптового языка;
- сценарии обычно интерпретируются, а не компилируются, но в последнее время множество скриптовых языков обзаводятся JIT-компиляторами.</p>

<h1>JavaScript</h1>

<p>Функции в JS являются объектами первого класса.</p>

<p>Сущности, которые могут быть переданы как параметр, возвращены из функции, присвоены переменной, могут быть создан во время выполнения программы, независим от именования.</p>

<p>Перед входом в тело функции автоматически создается объект <em>arguments</em>, который работает как массив параметров.</p>

<div class="date">2015-05-26</div>


<h1>Структура пакета протокола HTTP</h1>

<dl>
    <dt>Протокол</dt>
    <dd>набор правил , определяющих взаимодействие узлов сети</dd>
</dl>


<ol>
<li>Блок заголовков (headers)
 содержит различные параметры пакета (тип пакета, используемую версию http, код результата, домен сайта, название веб-сервера, кодировку в теле блока, различную информацию о клиенте и т.д.)</li>
<li>Блок тела

<ul>
<li>содержит непосредсвенно данные (например, текст html-документа)</li>
<li>отделяется от блока заголовков двумя символами перевода строки</li>
<li>может отсутствовать</li>
</ul>
</li>
</ol>


<h2>GET и POST запросы</h2>

<ul>
<li>GET

<ul>
<li>состоит только из заголовка, тело, как правило, отсутствует</li>
<li>используется для запроса какого-либо ресурса у сервера, может использоваться для передачи параметров</li>
<li>параметры передаются в открытом виде и указываются сразу после адреса ресурса, после символа "?"</li>
<li>GET-параметр имеет формат:
  имя<em>параметра=значение</em>параметра</li>
<li>параметры разделяются символом "&amp;"</li>
</ul>
</li>
<li>POST

<ul>
<li>используется для передачи большого объема данных (например, файла)</li>
<li>может использоваться для передачи параметров, но они помещаются в тело запроса, то есть не видны</li>
</ul>
</li>
</ul>

</body>
</html>