<!DOCTYPE html>
<html>
<head>
<title>base.html</title>
<link rel="stylesheet" type="text/css" href="highlight.css">
</head>
<body class="hl">
<pre class="hl"><span class="hl lin">   1 </span><span class="hl kwa">&lt;!DOCTYPE</span> html<span class="hl kwa">&gt;</span>
<span class="hl lin">   2 </span><span class="hl kwa">&lt;head&gt;</span>
<span class="hl lin">   3 </span>    <span class="hl kwa">&lt;title&gt;</span>Lecture Keeper<span class="hl kwa">&lt;/title&gt;</span>
<span class="hl lin">   4 </span>    <span class="hl kwa">&lt;meta</span> <span class="hl kwb">charset</span>=<span class="hl str">&quot;UTF-8&quot;</span> <span class="hl kwa">/&gt;</span>
<span class="hl lin">   5 </span>    <span class="hl kwa">&lt;meta</span> <span class="hl kwb">name</span>=<span class="hl str">&quot;viewport&quot;</span> <span class="hl kwb">content</span>=<span class="hl str">&quot;width=device-width, initial-scale=1.0&quot;</span> <span class="hl kwa">/&gt;</span>
<span class="hl lin">   6 </span>    <span class="hl kwa">&lt;link</span> <span class="hl kwb">rel</span>=<span class="hl str">&quot;stylesheet&quot;</span> <span class="hl kwb">type</span>=<span class="hl str">&quot;text/css&quot;</span> <span class="hl kwb">href</span>=<span class="hl str">&quot;{{ url_for('static', filename='_css/main.css') }}&quot;</span> <span class="hl kwa">/&gt;</span>
<span class="hl lin">   7 </span>    <span class="hl kwa">&lt;script</span> <span class="hl kwb">type</span>=<span class="hl str">&quot;text/x-mathjax-config&quot;</span><span class="hl kwa">&gt;</span>MathJax.Hub.Config({tex2jax:{inlineMath:[['$$$','$$$']]}});<span class="hl kwa">&lt;/script&gt;</span>
<span class="hl lin">   8 </span>    <span class="hl kwa">&lt;script</span> <span class="hl kwb">src</span>=<span class="hl str">&quot;http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML&quot;</span><span class="hl kwa">&gt;&lt;/script&gt;</span>
<span class="hl lin">   9 </span><span class="hl kwa">&lt;/head&gt;</span>
<span class="hl lin">  10 </span><span class="hl kwa">&lt;body&gt;</span>
<span class="hl lin">  11 </span>    <span class="hl kwa">&lt;div</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;hero&quot;</span><span class="hl kwa">&gt;&lt;/div&gt;</span>
<span class="hl lin">  12 </span>    <span class="hl kwa">&lt;div</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;app_bar&quot;</span><span class="hl kwa">&gt;</span>
<span class="hl lin">  13 </span>        <span class="hl kwa">&lt;ul</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;pull-left&quot;</span><span class="hl kwa">&gt;</span>
<span class="hl lin">  14 </span>            <span class="hl kwa">&lt;li</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;fa fa-bars menu_btn&quot;</span> <span class="hl kwb">onclick</span>=<span class="hl str">&quot;show_menu()&quot;</span><span class="hl kwa">&gt;&lt;/li&gt;</span>
<span class="hl lin">  15 </span>            <span class="hl kwa">&lt;li&gt;&lt;a</span> <span class="hl kwb">href</span>=<span class="hl str">&quot;/&quot;</span><span class="hl kwa">&gt;</span>Home<span class="hl kwa">&lt;/a&gt;&lt;/li&gt;</span>
<span class="hl lin">  16 </span>        <span class="hl kwa">&lt;/ul&gt;</span>
<span class="hl lin">  17 </span>        <span class="hl kwa">&lt;ul</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;pull-right&quot;</span><span class="hl kwa">&gt;</span>
<span class="hl lin">  18 </span>            <span class="hl kwa">&lt;li&gt;&lt;a</span> <span class="hl kwb">href</span>=<span class="hl str">&quot;/about&quot;</span><span class="hl kwa">&gt;</span>About<span class="hl kwa">&lt;/a&gt;&lt;/li&gt;</span>
<span class="hl lin">  19 </span>            <span class="hl kwa">&lt;li</span> <span class="hl kwb">onclick</span>=<span class="hl str">&quot;location.href='#'&quot;</span><span class="hl kwa">&gt;</span>
<span class="hl lin">  20 </span>                <span class="hl kwa">&lt;svg</span> <span class="hl kwb">viewBox</span>=<span class="hl str">&quot;0 0 24 24&quot;</span><span class="hl kwa">&gt;</span>
<span class="hl lin">  21 </span>                    <span class="hl kwa">&lt;path</span> <span class="hl kwb">fill</span>=<span class="hl str">&quot;#ffffff&quot;</span> <span class="hl kwb">d</span>=<span class="hl str">&quot;M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z&quot;</span> <span class="hl kwa">/&gt;</span>
<span class="hl lin">  22 </span>                <span class="hl kwa">&lt;/svg&gt;</span>
<span class="hl lin">  23 </span>            <span class="hl kwa">&lt;/li&gt;</span>
<span class="hl lin">  24 </span>        <span class="hl kwa">&lt;/ul&gt;</span>
<span class="hl lin">  25 </span>    <span class="hl kwa">&lt;/div&gt;</span>
<span class="hl lin">  26 </span>
<span class="hl lin">  27 </span>    <span class="hl kwa">&lt;div</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;darken darken_hide&quot;</span> <span class="hl kwb">onclick</span>=<span class="hl str">&quot;hide_menu()&quot;</span> <span class="hl kwb">id</span>=<span class="hl str">&quot;darken&quot;</span><span class="hl kwa">&gt;&lt;/div&gt;</span>
<span class="hl lin">  28 </span>
<span class="hl lin">  29 </span>    <span class="hl kwa">&lt;div</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;menu menu_hide&quot;</span> <span class="hl kwb">id</span>=<span class="hl str">&quot;menu&quot;</span><span class="hl kwa">&gt;</span>
<span class="hl lin">  30 </span>        <span class="hl kwa">&lt;h1&gt;&lt;a</span> <span class="hl kwb">href</span>=<span class="hl str">&quot;/&quot;</span><span class="hl kwa">&gt;</span>Lecture Keeper<span class="hl kwa">&lt;/a&gt;&lt;/h1&gt;</span>
<span class="hl lin">  31 </span>        <span class="hl kwa">&lt;div</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;divider&quot;</span><span class="hl kwa">&gt;&lt;/div&gt;</span>
<span class="hl lin">  32 </span>        <span class="hl kwa">&lt;ul&gt;</span>
<span class="hl lin">  33 </span>            {% for discipline in discipline_list %}
<span class="hl lin">  34 </span>            <span class="hl kwa">&lt;li&gt;&lt;a</span> <span class="hl kwb">href</span>=<span class="hl str">&quot;{{ discipline.code }}&quot;</span><span class="hl kwa">&gt;</span>{{ discipline.name }}<span class="hl kwa">&lt;/a&gt;&lt;/li&gt;</span>
<span class="hl lin">  35 </span>            {% endfor %}
<span class="hl lin">  36 </span>        <span class="hl kwa">&lt;/ul&gt;</span>
<span class="hl lin">  37 </span>    <span class="hl kwa">&lt;/div&gt;</span>
<span class="hl lin">  38 </span>
<span class="hl lin">  39 </span>    <span class="hl kwa">&lt;div</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;content&quot;</span><span class="hl kwa">&gt;</span>
<span class="hl lin">  40 </span>        <span class="hl kwa">&lt;a</span> <span class="hl kwb">href</span>=<span class="hl str">&quot;https://github.com/Kostydenis/web-programming/tree/master/Lecture%20Keeper&quot;</span><span class="hl kwa">&gt;</span>
<span class="hl lin">  41 </span>            <span class="hl kwa">&lt;img</span> <span class="hl kwb">style</span>=<span class="hl str">&quot;position: absolute; top: 0; right: 0; border: 0;&quot;</span> <span class="hl kwb">src</span>=<span class="hl str">&quot;https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67&quot;</span> <span class="hl kwb">alt</span>=<span class="hl str">&quot;Fork me on GitHub&quot;</span> <span class="hl kwb">data-canonical-src</span>=<span class="hl str">&quot;https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png&quot;</span><span class="hl kwa">&gt;</span>
<span class="hl lin">  42 </span>        <span class="hl kwa">&lt;/a&gt;</span>
<span class="hl lin">  43 </span>    
<span class="hl lin">  44 </span>        <span class="hl kwa">&lt;h1</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;non_lecture&quot;</span><span class="hl kwa">&gt;</span>Lecture Keeper<span class="hl kwa">&lt;/h1&gt;</span>
<span class="hl lin">  45 </span>        <span class="hl kwa">&lt;div</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;divider&quot;</span><span class="hl kwa">&gt;&lt;/div&gt;</span>
<span class="hl lin">  46 </span>        <span class="hl com">&lt;!-- &lt;div class=&quot;non_lecture_divider&quot;&gt;&lt;/div&gt; --&gt;</span>
<span class="hl lin">  47 </span>        <span class="hl kwa">&lt;h2</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;non_lecture&quot;</span><span class="hl kwa">&gt;</span>Лекции и другие материалы АСУб-<span class="hl num">12</span>-<span class="hl num">1</span><span class="hl kwa">&lt;/h2&gt;</span>
<span class="hl lin">  48 </span>
<span class="hl lin">  49 </span>        {% block disciplines %}{% endblock %}
<span class="hl lin">  50 </span>        {% block about %}{% endblock %}
<span class="hl lin">  51 </span>        {% block lecture %}{% endblock %}
<span class="hl lin">  52 </span>
<span class="hl lin">  53 </span>    <span class="hl kwa">&lt;/div&gt;</span>
<span class="hl lin">  54 </span>
<span class="hl lin">  55 </span>    <span class="hl kwa">&lt;div</span> <span class="hl kwb">class</span>=<span class="hl str">&quot;footer&quot;</span><span class="hl kwa">&gt;</span>
<span class="hl lin">  56 </span>        <span class="hl kwa">&lt;p&gt;</span>Denis Kostylev, <span class="hl num">2015</span><span class="hl kwa">&lt;/p&gt;</span>
<span class="hl lin">  57 </span>        <span class="hl kwa">&lt;p&gt;</span>icons by <span class="hl kwa">&lt;a</span> <span class="hl kwb">href</span>=<span class="hl str">&quot;http://icons8.com&quot;</span><span class="hl kwa">&gt;</span>icons8<span class="hl kwa">&lt;/a&gt;&lt;/p&gt;</span>
<span class="hl lin">  58 </span>        <span class="hl kwa">&lt;p&gt;</span>best view in google chrome<span class="hl kwa">&lt;/p&gt;</span>
<span class="hl lin">  59 </span>        <span class="hl kwa">&lt;/div&gt;&lt;script</span> <span class="hl kwb">src</span>=<span class="hl str">&quot;{{ url_for('static', filename='_js/main.js') }}&quot;</span> <span class="hl kwb">type</span>=<span class="hl str">&quot;text/javascript&quot;</span><span class="hl kwa">&gt;&lt;/script&gt;</span>
<span class="hl lin">  60 </span>    <span class="hl kwa">&lt;/body&gt;</span>
<span class="hl lin">  61 </span><span class="hl kwa">&lt;/html&gt;</span>
</pre>
</body>
</html>
<!--HTML generated by highlight 3.22, http://www.andre-simon.de/-->
